.card-container{
    display: flex;
    flex-direction: row;
  }


  .card-img{
    height: 30vh;
  }

  .cardd{
    width: 30%;
    padding: 10px;
    margin: 10px;
  }

  .card_title{
    text-align: center;
    text-transform: capitalize;
  }

  .card_description{
    text-align: center;
    text-transform: capitalize;
  }

  .Donate_btn{
    margin-left: 40%;
  }