
body {
  width: 99vw;
  background: #f6f9fc;
  font-family: "Open Sans", sans-serif;
  color: #525f7f;
  overflow-x: hidden;
  margin-right: 30px;
}
#map { top: 0; bottom: 0; width: 50%; }
/* position:absolute; */
.navbar{
  background-color: rgb(195, 220, 223);
  padding: 12px;
  margin: 12px;
}


.problem-container{
  display: flex;
  flex-direction: row;
}

.left-problem-container{
  width: 30vw;
  margin: 12px;
}
.right-problem-container{
  width: 70vw;
  margin: 12px;
  background: #271f1f;
  padding: 12px;
  font-size: 19px;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding: 25px;

}

.image-problems img{
  margin: 6px;
  height: 44vh;
  border: 2px solid black;
  border-radius: 12px;
}

.Donate-button{
  text-align: center;
    border-radius: 12px;
    width: 20vw;
    text-decoration: double;
    text-transform: capitalize;
    background: blue;
    color: white;
    height: 11vh;
    border: 0px;
    margin: 20px 39px;
}


.dashboard{
  display: flex;
}

.details{
  width: 30%;
}
.Back-details{
  width: 25vw;
    background-color: cadetblue;
    margin: auto;
}

.Back-img{
  width: 100%;
    padding: auto;
    /* margin: auto; */
    /* align-items: center; */
    padding: 20px;
    height: 43vh;
}

.orders{
  width: 70%;
}

.cardd_dashboard{
  width: 90%;
    padding: 10px;
    margin: 10px;
    height: 59vh;
}

.NGO-profile{
  width: 25vw;
}


.orderDetails{
  width: 59%;
    margin-left: 63px;
}

.tab-content{
  background: #dedeb8;
  border-radius: 20px;
}

.autoCompleteInputContainer{
  display: flex;
  flex-direction: row;
}

.btn2{
  margin-left: 20px;
    border-radius: 12px;
    background: blue;
    color: white;
    border: 0px;
    padding: 11px;
}


.cardd_alter{
  width: 36%;
  padding: 10px;
  margin: 10px;
  height: 50vh;
}