#map { top: 0; bottom: 0; width: 50%; }
/* position:absolute; */
.navbar{
  background-color: rgb(195, 220, 223);
  padding: 12px;
  margin: 12px;
}


.problem-container{
  display: flex;
  flex-direction: row;
}

.left-problem-container{
  width: 30vw;
  margin: 12px;
}
.right-problem-container{
  width: 70vw;
  margin: 12px;
  background: #f3f3f3;
  padding: 12px;
}

.image-problems img{
  height: 44vh;
}

.Donate-button{
  text-align: center;
    border-radius: 12px;
    width: 20vw;
    text-decoration: double;
    text-transform: capitalize;
    background: blue;
    color: white;
    height: 11vh;
    border: 0px;
    margin: 20px 39px;
}


.dashboard{
  display: flex;
}

.details{
  width: 30%;
}
.Back-details{
  width: 25vw;
    background-color: cadetblue;
    margin: auto;
}

.Back-img{
  width: 100%;
    padding: auto;
    /* margin: auto; */
    /* align-items: center; */
    padding: 20px;
    height: 43vh;
}

.orders{
  width: 70%;
}
